<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdowns.css') }}">
    <meta charset="UTF-8">
    <title>Dropdown</title>
    
</head>
<body>
<form method="POST">
    <div id='editor'>
        <div class="svgcontainer">
            <img src = "{{ svg }}" alt="My Happy SVG" class="svg"/>
        </div>
        <div id="dropdowns">
            {% for dropdown in dropdowns %}
            <div id= "{{ dropdown.id }}">
                <select name="{{ dropdown.id }}" onchange="this.form.submit()">
                    {% for chord in dropdown.chords %}
                    {% if chord == dropdown.selected %}
                        <option selected="selected">{{ chord }}</option>"
                    {% else %}
                        <option>{{ chord }}</option>"
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
        
    </div>
</form>
<div id = 'player'>
    <midi-player
    src="{{ audio_path }}"
    sound-font visualizer="#myVisualizer">
    </midi-player>
</div>

</body>
</html>