div#dropdown1{
    left: 5.00%;
    position: absolute;
    max-width: fit-content;
}
div#dropdown2{
    left: 22.84%;
    position: absolute;
    max-width: fit-content;
}
div#dropdown3{
    left: 32.92%;
    position: absolute;
    max-width: fit-content;
}
div#dropdown4{
    left: 48.34%;
    position: absolute;
    max-width: fit-content;
}
div#dropdown5{
    left: 58.04%;
    position: absolute;
    max-width: fit-content;
}
div#dropdown6{
    left: 67.93%;
    position: absolute;
    max-width: fit-content;
}
div#dropdown7{
    left: 75.27%;
    position: absolute;
    max-width: fit-content;
}
div#dropdown8{
    left: 92.64%;
    position: relative;
    max-width: fit-content;
}
