div#dropdown1 {
    left: 12.63%;
    position: absolute;
    max-width: fit-content;
}

div#dropdown2 {
    left: 25.08%;
    position: absolute;
    max-width: fit-content;
    margin: 0;
}

div#dropdown3 {
    left: 36.21%;
    position: absolute;
    max-width: fit-content;
    margin: 0;
}

div#dropdown4 {
    left: 47.40%;
    position: absolute;
    max-width: fit-content;
    margin: 0;
}
div#dropdown5 {
    left: 58.12%;
    position: absolute;
    max-width: fit-content;
    margin: 0;
}
div#dropdown6 {
    left: 69.03%;
    position: absolute;
    max-width: fit-content;
    margin: 0;
}
div#dropdown7 {
    left: 77.12%;
    position: absolute;
    max-width: fit-content;
    margin: 0;
}

div#dropdown8 {
    left: 91.88%;
    position: relative;
    max-width: fit-content;
    margin: 0;
}